<!--Doctype is a TAG. html is an Attribute-->
<!DOCTYPE html>
<!--Doctype is a TAG. html is an Attribute-->
<html lang="en">
<!--Machine Part code-->
<head>
    <meta charset="UTF-8">
    <title>My Portfolio - Patricia 😻</title>
    <!--    bridge between html <=> css-->
    <link rel="stylesheet" href="/styles/style.css"/>
    <script src="/scripts/backend.js"></script>
</head>
<!--Human Part code-->
<body>
<!--Page Main Wrapper-->
<div class="body">
    <div class="NavBar"></div>
    <div class="PageBody">
        <div class="Banner">
            <h4>Welcome</h4>
            <p>Learning code is what I do</p>
        </div>

        <!--// TODOList Body -->
        <input type="text" placeholder="Enter a New ToDo" class="" myInput"
        <button onclick="AddToDo()" Add New ToDo
        </button>
        <ul class="myUL">
        </ul>
        <li>Dummy ToDo</li>
        </ul>
    </div>
    <div class="LeftSideBar">Left Side Bar</div>
    <div class="RightSideBar">Right Side Bar</div>
    <div class="Footer">Footer</div>
</div>
</body>
</html>